.header {
  padding: 20px 0 30px;
}

.header .container {
  display: flex;
}

.header__burger {
  width: 36px;
  height: 36px;
  font-size: 0;
  line-height: 0;
}

.header__burger span {
  display: inline-block;
  height: 4px;
  width: 100%;
  margin: 4px 0;
  background: #000;
}

.logo {
  font-size: 36px;
  line-height: 1;
  color: #000;
  margin-left: 20px;
}